


h1, h2 {
  text-align:center;
  color:#202002 ;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  font-weight: normal;
}
h4{
  color: #27fa07;
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  font-family: monospace;

}

h3{
  color: white;
}

p{
  font-family: sans-serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  color: rgb(12, 0, 0);
}

hr {
  
  border-width: 20px;
  border-style: dotted;
  border-top-style: dotted;
  width: 10%
}

.mse{
  border-radius: 20%;
}
.navbar-brand {
  padding: 20 30 20 30;
}


.top-container {
  background-position: center;
  background-attachment: fixed;
  background-size: 150px;
  text-align: center;
  padding: 70px 0 10px;

}
.nav-link{
  font-size: 25px;
  
}
.m9 {
  font-weight: 900;
  font-size: 3.5em;

}
.m9 .letter {
  display: inline-block;
  line-height: 1em;
}

.middle-container{
  
  
  background-position: center;
  background-attachment: fixed;
  background-size: 150px;
  text-align: center;
  padding: 50px 30px;

}

.bottom-container {
  text-align: center;
  background-color:#1e311b ;
  padding: 50px 20px;
}


.contact-me {
  text-align: center;
}

.contact-message {
  margin: 40px auto 60px;
}

.footer-link {
  color: #f8f7f4;
  margin: 10px 20px;
  text-decoration: none;
}

.footer-link:hover {
  color: #07fc1b;
}


.copyright {
  color: #faf7f1;
  font-size: 0.75rem;
  padding: 20px 0;
}
#section2 {
  padding: 25px; 30px;
}

